<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrabbit.admin.modual.system.mapper.SysLogMapper">
    <!--
        查询所有的Log日志
    -->
    <select id="listLog" resultType="com.hrabbit.admin.modual.system.bean.SysLog">
        SELECT
        *
        FROM
        sys_log
        where 1=1
        <if test="logName!=null and logName!=''">
            and log_name like concat('%',#{logName},'%')
        </if>
        order by create_time desc
    </select>

</mapper>
